<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Phones</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Camera</th>
            <th>Ram</th>
            <th>Storage</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for phone in Phone_object_qs %}
            <tr>
                <td>{{phone.id}}</td>
                <td>{{phone.brand}}</td>
                <td>{{phone.name}}</td>
                <td>{{phone.camera}}</td>
                <td>{{phone.ram}}</td>
                <td>{{phone.storage}}</td>
                <td>{{phone.price}}</td>
                <td><a href="{% url 'update-phone' phone.id %}"><button>Update</button></a></td>
                <td><a href="{% url 'delete-phone' phone.id %}"><button>Delete</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'add-phone' %}"><button>Add Phone</button></a>
</body>
</html>