{% extends "layout.html" %}
{% block title %}
    <title>Show Phones</title>
{% endblock %}


{% block content %}
    <h3 class="text-center">Phone Data</h3>
    <table class="table table-dark table-striped" style="width:80%; margin-left:10%;">
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Camera</th>
            <th>Ram</th>
            <th>Storage</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for phone in Phone_object_qs %}
            <tr>
                <td>{{phone.id}}</td>
                <td>{{phone.brand}}</td>
                <td>{{phone.name}}</td>
                <td>{{phone.camera}}</td>
                <td>{{phone.ram}}</td>
                <td>{{phone.storage}}</td>
                <td>{{phone.price}}</td>
                <td><a href="{% url 'update-phone' phone.id %}"><button class="btn btn-warning">Update</button></a></td>
                <td><a href="{% url 'delete-phone' phone.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
    </table>

    <br>
        {% for msg in massages %}
        <p class="alert alert-danger"> {{msg}} </p>
        {% endfor %}
    <a href="{% url 'add-phone' %}"><button class="btn btn-primary" style="margin-left:45%;">Add Phone</button></a>
{% endblock %}