<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #16B9D3;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PhoneHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

          {% if user.is_authenticated %}
            <a class="nav-link active" href="{% url 'logout' %}"> {{user.username}},Logout</a>
          {% else %}
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
            <a class="nav-link active" href="{% url 'login' %}">Login</a>

          {% endif %}
        <a class="nav-link active" href="{% url 'add-phone' %}">AddPhone</a>
        <a class="nav-link active" href="{% url 'show-phone' %}">ShowPhone</a>
        <a class="nav-link active" href="{% url 'about' %}">AboutUs</a>
        <a class="nav-link active" href="{% url 'services' %}">Services</a>
        <a class="nav-link active" href="{% url 'faq' %}">FAQs</a>

      </div>
    </div>
  </div>
</nav><br>
    {% if messages %}
  <div style="margin-left:80%;">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<br>

    {% block content %}
       <p>First Phone</p>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>