{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login Page</title>
{% endblock %}


{% block content %}
    <h1 style="text-align:center;">Login</h1>
    <form method="post" style="width:50%; margin-left:25%;">
        {% csrf_token %}
        <lable>Enter Username:</lable><br>
        <input type="text" name="un" class="form-control"><br><br>
        <lable>Enter Password:</lable><br>
        <input type="password" name="pw" class="form-control"><br><br>
        <input type="submit" value="Register" class="btn btn-success">
        <a href="{% url 'login' %}" class="btn btn-info">Create an account</a>
    </form>
{% endblock %}