{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register Page</title>
{% endblock %}


{% block content %}
    <h1 style="text-align:center;">Registration</h1>
    <form method="post" style="width:50%; margin-left:25%;">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <input type="submit"  value="Register" class="btn btn-success">
            <a href="{% url 'login' %}" class="btn btn-warning">Already have an account</a>
        </div>
    </form>
{%endblock%}